@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

/* Add this to your existing CSS */

.tabs {
  margin: 1rem 0;
}

.tabs button {
  background: none;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.tabs button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.tabs button.active {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}


.completed {
  position: relative;
  color: #c5aeff; /* Set the color for the text */
  cursor: pointer;
}

.completed:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid black; /* Set the color for the line-through */
  top: 0%;
  left: 0;
  z-index: 45;
}



.edit-icon,
.delete-icon {
  cursor: pointer;
}
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .TodoWrapper {
    margin-top: 3rem; /* Adjusting the margin-top for better visibility */
    padding: 1rem; /* Adjusting padding for a more compact layout */
  }

  .todo-input {
    width: 100%; /* Making the input full width for better usability */
  }

  .Todo {
    padding: 0.5rem 1rem; /* Adjusting padding for a more compact layout */
  }

  .tabs button {
    font-size: 0.9rem; /* Adjusting font size for better fit */
    margin-right: 0.3rem; /* Adjusting margin for better spacing */
  }

  .completed:before {
    height: 40%; /* Adjusting the height of the line-through for better appearance */
  }
}